{% extends 'first_app/base.html' %}
{% load static %}
    {% block title %} Login {% endblock %}

{% block content %}

  <h3> {{ msg }}</h3>
  <div class="container">
    <div class="jumbotron">
      <form action="{% url 'first_app:validate_login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="submit" value="submit">
      </form>
    </div>
  </div>
<a href="{% url 'first_app:index' %}"> Home Page</a>

{% endblock %}
